.page-header
  h2 Current Tabs

//for each...
.panel.panel-default
  .panel-heading.panel-sm.panel-clickable
    .center-out
      img.profile-picture.img-circle(src='http://graph.facebook.com/581601874/picture', alt='Tony Li')
      span.name Tony Li
      .center-in.text-right
        span.badge $42.50
  .panel-body.panel-sm.panel-table.panel-expand
    table.table
      thead
        tr
          th.date Date
          th.reason Description
          th.amount Amount
      tbody
        tr
          td.date
            a(href="#") 3/20/2014
          td.reason Made poor choices.
          td.amount $5.00

.panel.panel-default
  .panel-heading.panel-sm.panel-clickable
    .center-out
      img.profile-picture.img-circle(src='http://graph.facebook.com/699807795/picture', alt='Hamza Faran')
      span.name Hamza Faran
      span.center-in.text-right
        span.badge $1234.56
  .panel-body.panel-sm.panel-table.panel-expand
    table.table
      thead
        tr
          th.date Date
          th.reason Description
          th.amount Amount
      tbody
        tr
          td.date
            a(href="#") 3/21/2014
          td.reason Made some very poor choices.
          td.amount $5000.00

.row.text-center
  a#new-btn.btn.btn-info.btn-big(href="#new" data-toggle="pill") + New Tab
