extends layout

block content
  .jumbotron
    h1 Keep track of who you owe, and most importantly: 
      strong who owes you
      | !
    form.form-signin(role='form')
      p.form-signin-heading.text-center start now:
      .row
        a.btn.btn-lg.btn-block.btn-social.btn-facebook(href='/auth/facebook') Sign in with Facebook
  .row
    .col-6.col-sm-6.col-lg-4
      h2 The best mobile app to keep track of who owes who!
      p Does your "friend" always "forget" to pay you back for dinner that one time?
    // /span
    .col-6.col-sm-6.col-lg-4
      h2 Easy to use
      p Save this app to your iOS device with 'save to home screen'.
    // /span
    .col-6.col-sm-6.col-lg-4
      h2 See each person's track record
      p Get the full history of each person who has owed you money.
    // /span
  // /row
  .container

append script
