doctype html
html
  head
    if title
      title= title + ' - ' + 'Money Trackr'
    else
      title= 'Money Trackr'
    link(rel='stylesheet' href='/css/lumen.min.css')
    link(rel='stylesheet' href='/css/local.min.css')
    meta(content='yes' name='apple-mobile-web-app-capable')
    meta(content='black' name='apple-mobile-web-app-status-bar-style')
    meta(content='Money Trackr' name='apple-mobile-web-app-title')
    meta(name='viewport' content='width=device-width initial-scale=1 maximum-scale=1 user-scalable=no')
    link(rel='apple-touch-icon' href='/img/apple-touch-icon.png')
    link(rel='apple-touch-startup-image' href='/img/apple-touch-startup-image-640x1096.png' media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image' href='/img/apple-touch-startup-image-640x920.png' media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)')
    link(rel='apple-touch-startup-image' href='/img/apple-touch-startup-image-320x460.png' media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)')
  body
    include includes/nav
    include includes/flash
    .container.full
      .row.row-offcanvas.row-offcanvas-right
        if (user)
          .col-xs-12.col-sm-9.tab-content
            block content
        else
          .col-xs-12
            block content
          // /span
        if (user)
          #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation')
            .well.static
              img.profile-picture.img-circle.center-block(src='http://graph.facebook.com/' + user.fbid + '/picture' alt='Profile Picture')
              hr
              ul.nav.nav-pills.nav-stacked
                li.active
                  a(href='#list' data-toggle='pill') Current Tabs
                li
                  a(href='#new' data-toggle='pill') New Tab
                li
                  a(href='#pay' data-toggle='pill') Pay A Tab
                li
                  a#logout(href='/logout') Log out
          // /span
      // /row
    include includes/footer
