extends layout

block content
  .container
    form.form-signin(role='form')
      h2.form-signin-heading.text-center Please Log In
      a.btn.btn-lg.btn-block.btn-social.btn-facebook(href='/auth/facebook') Sign in with Facebook

append script
