extends layout

block content
  .tab-content
    #list.tab-pane.active
      div.page-header
        h2 Current Tabs
      //for each...
      .panel.panel-default
        .panel-body.panel-sm
          a.panel-expand(href="#")
            .center-out
              img.profile-picture.img-circle(src='http://graph.facebook.com/581601874/picture', alt='Profile Picture')
              span.name Tony Li
              .center-in.text-right
                span.badge $42.50
      .panel.panel-default
        .panel-body.panel-sm
          a.panel-expand(href="#")
            .center-out
              img.profile-picture.img-circle(src='http://graph.facebook.com/699807795/picture', alt='Profile Picture')
              span.name Hamza Faran
              span.center-in.text-right
                span.badge $1234.56
      .text-center
        a#new-btn.btn.btn-info(href="#new" data-toggle="pill") +

    #new.tab-pane
      img.img-responsive(src='//placehold.it/600x400&text=list')
    #pay.tab-pane.fade
      img.img-responsive(src='//placehold.it/600x400&text=new')

append script
