extends layout

block content
  .tab-content
    // Current tabs
    #list.tab-pane.active
      include tabs-current
    // New tab
    #new.tab-pane
      include tabs-new
    #pay.tab-pane
      img.img-responsive(src='//placehold.it/600x400&text=new')
    #past.tab-pane
      img.img-responsive(src='//placehold.it/600x400&text=past')

append script
