footer
  .container
    p &copy; Tony Li 2014
  // /container

block script
  script(type='text/javascript' src='/js/jquery-2.1.0.min.js')
  script(type='text/javascript' src='/js/bootstrap.min.js')
  script(type='text/javascript' src='/js/fastclick.min.js')
  script(type='text/javascript' src='/js/typeahead.bundle.min.js')
  script(type='text/javascript' src='/js/local.min.js')

  //-script(src='//rawgithub.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.js')
