.search.menu.content
  form(action='index-search' method='post' autocomplete='off')
    input(id='index-search' class='text-center' type='text' name='course' autofocus='autofocus' placeholder='search all courses (10 results)')
